/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
 //background-image: url("https://googifs.es/gif/2016/01/fuegomb-1452477814gn8k4.gif") 
      
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  
  text-align: center;
  background: red;
    background: -webkit-linear-gradient(left, blue, blue, yellow, blue, blue);
    background: -o-linear-gradient(right, blue, blue, yellow, blue, blue);
    background: -moz-linear-gradient(right, blue, blue, yellow, blue, blue);
    background: linear-gradient(to right, blue, blue, yellow, blue, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2019, 10:03:16
    Author     : Usuario
*/

