/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 1300px;
  margin: 0 auto;
 background-image: url(https://images.cdn1.stockunlimited.net/preview1300/galaxy-background-design_2001751.jpg);
 background-size:2500px;
}


h1, h2 {
  font-family: 'Rock Salt', cursive;
  
}

/* header styles */

h1 {
  
  position: relative;
  background: -webkit-linear-gradient(#811644 25%, #FFF8E7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  padding-right: 18px;
  margin-right: -18px;
  text-align: center;
  
    font-size: 7rem;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 7px;
  background: -webkit-linear-gradient(#722552 5%, #FFF8E7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center
}
p{
  font-family: 'Raleway', sans-serif;
    color:#FFF8E7;
        text-align: center
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2019, 10:03:16
    Author     : Usuario
*/


